<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="bg-gray-dark sticky-top py-3">
      <nav class="navbar navbar-expand-lg navbar-gray-dark bg-gray-dark">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img
              src="./assets/images/logo.svg"
              alt="logo"
              width="174"
              height="40"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="material-icons text-primary"> menu </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav flex-column align-items-center flex-lg-row ms-auto mb-2 mb-lg-0"
            >
              <li class="nav-item">
                <a class="nav-link me-lg-10" href="index.html">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-lg-10" href="course.html">課程介紹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="#"
                  ><span class="material-icons me-1"> account_circle </span
                  >登入</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%- contents %>

    <footer class="footer bg-dark py-6">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <p class="mb-0 fs-4 text-center text-gray-600">
              Coding Home © 2022 All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </body>
</html>
