//信用卡付款寫法
// .timeline {
//   border: 1px solid transparent;
//   border-image: linear-gradient(to right, $primary 50%, $white 50%);
//   border-image-slice: 1;
// }
.pay-container {
  margin: 0 -4px;
}
.pointer {
  position: relative;
  top: -10px;
  &-num {
    border: 1px solid white;
    background: $dark;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    &-active {
      background: $primary;
      border: none;
    }
  }
}
.reserve {
  &-caption {
    position: relative;
    @include lg {
      margin-right: -43px;
    }
  }
  &-caption::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #2d2d2d transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include lg {
      border-width: 12px 0 12px 12px;
      border-color: transparent transparent transparent #2d2d2d;
      top: 50%;
      left: 100%;
      transform: translateX(-100%);
    }
  }
  &-apply {
    &-content {
      padding-left: 24px;
      padding-right: 24px;
    }
    @include lg {
      margin-left: -43px;
      &-content {
        padding-left: 114px;
      }
    }

    &-form {
      input {
        caret-color: $white;
      }
    }
  }
}
.text-nowrap {
  white-space: nowrap;
}
//日曆
.datepicker-cell {
  color: $black;
  font-family: "Noto Sans TC";
}
.dow {
  color: $black;
}
.datepicker-cell:not(.disabled):hover {
  background-color: #e8e8e8;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: #e8e8e8;
  color: #000;
}
