$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          rfs: false,
        )
      ),
    "border-color": (
      property: border-color,
      class: border,
      state: hover,
      values:
        map-merge(
          $theme-colors,
          (
            "white": $white,
          )
        ),
    ),
  )
);

.gradient-text {
  background: linear-gradient($secondary, $primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.underline-center {
  position: relative;
  &::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: $primary;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.noto {
  font-family: "Noto Sans TC", sans-serif;
}
.btn-gradient {
  background: $gradient;
  color: $white;
  padding: 8px 32px;
  &:hover {
    background: linear-gradient(104deg, $primary, $secondary);
  }
}
